body{
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
    display: flex;
    justify-content: center;

}

canvas{
    background: white;
    display: block;
    margin: auto;
    border: 2px solid black;
}

#container{
    width: 480px;
    display: flex;
    align-content: center;
    flex-direction: column;

}
h1{
    display: flex;
    justify-content: center;  

}

#rally{
    display: flex;
    justify-content: right;
}

p{
display: flex;
justify-content: center;  
}
